/* .root {
  width: 10rem;
  height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.4rem;
} */
.root {
  display: flex;
}

.input {
  width: 8rem;
  border-right: none;
  border-radius: 0.4rem 0 0 0.4rem;
}

.root button {
  width: 2rem;
  appearance: none;
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--primary-color);
  cursor: pointer;
  outline: none;
}

.root button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.root input {
  width: 8rem;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0.5rem;
  outline: none;
}
